<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user }} - Update Task</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <style>
        textarea {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="form-login-body">
        <form method="post">
            <h2 style="color: white;">Update Task</h2>
            <hr>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="submit" value="Update">
            </div>
        </form>

    </div>

    <script src="{% static 'main.js' %}"></script>
</body>

</html>